# Docker Compose / Infrastructure Shared Configuration
POSTGRES_DB=shop_app_platform
POSTGRES_USER=shop_app_platform
POSTGRES_PASSWORD=shop_app_secret_password_2026
POSTGRES_PORT=5433
SECRET_KEY=WSZrR0J7yPv5FRNSleSMXceT_nnqdNwekPLqn_KCn-MKpzK7wSigXKZDeRvmAoho
