# Backend Local Environment Configuration
PROJECT_NAME="Shop App Backend"
DEBUG=True
PORT=8000

# PostgreSQL Connection String (Local Docker map sang host port 5433)
DATABASE_URL=postgresql+psycopg://shop_app_platform:shop_app_secret_password_2026@localhost:5433/shop_app_platform

# Secret Key for JWT & Security
SECRET_KEY=your_super_secret_key_here
